.main {
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
}

.groups {
    overflow: auto;
    height: 100%;
    width: 150%;
    background: #e5c200;
    max-width: 350px;
}

.groups i {
    position: absolute;
    top: 87%;
    font-size: 60px;
    left: 11%;
}

.group {
    font-family: Inter;
    font-weight: 400;
    margin: 10px 10px 10px 10px;
    background-color: #1d1d1d;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    color: #e5c200;
    box-shadow: 3px 2px 4px #1d1d1d;
    cursor: pointer;
}

.group:hover {
    background-color: #2a2a2b;
}

.group img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.contentGroupId {
    display: flex;
    background-color: #1d1d1d;
    height: 100vh;
    width: 100%;
}