.modal-background {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.modal {
    width: 30%;
    height: 40%;
    background: #e5c200;
    border: 1.5px solid #1d1d1d;
    color: #1d1d1d;
    font-family: Inter;
    font-weight: 800;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.createGroupName {
    width: 100%;
    background-color: #e5c200;
    border: 2px #1d1d1d solid;
    height: 30px;
    color: black;
    border-radius: 30px;
    font-size: 16px;
    padding-left: 5px;
    padding-bottom: 1px;
}

.createGroupForm {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.createGroupButton {
    background-color: black;
    border-radius: 30px;
    height: 30px;
    color: white;
}

.createGroupFile {
    border: 0;
}