.message-true {
    background: #e5c200;
    border-radius: 20px;
    margin-top: 18px;
    padding: 10px;
    max-width: 50%;
    align-self: flex-end;
}

.message-false {
    background: #121212;
    color: #e5c200;
    font-weight: 500;
    padding: 10px;
    border-radius: 20px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: flex-start;
    max-width: 50%;
}

.message-false div {
    background-color: #e5c200;
    padding: 10px;
    color: #1d1d1d;
    border-radius: 20px;
    display: flex;
}

.message-true div {
    background-color: #1d1d1d;
    padding: 10px;
    color: #e5c200;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.message-true .user-info .avatar{
    margin-left: 10px;
}

.message-false .user-info .avatar{
    margin-right: 10px;
}

.text {
    padding: 10px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    align-items: center;
}

.message-false p {
    direction: ltr;
    unicode-bidi: bidi-override;
}

.group-id {
    font-family: Inter;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.messages-box { 
    max-width: 50vw;
    background-color: #1d1d1d;
}

.messages { 
    min-width: 100%;
    overflow: auto;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    word-wrap: break-word;
    scroll-snap-type: y mandatory;

    /* scroll-behavior: smooth; */
}

.inputs {
    margin-top: 10px;
    flex-direction: row-reverse;
    position: relative;
    border-radius: 30px;
    border: #121212 5px solid;
    align-items: center;
    display: flex;
    width: 100%;
    margin-top: 2%;
}

.inputs input {
    width: 100%;
    height: 40px;
    background-color: #e5c200;
    border-radius: 20px;
    padding: 5px;
    border: none;
}

.inputs button {
    font-size: large;
    font-weight: 700;
    color: #e5c200;
    position: absolute;
    height: 110%;
    right: -1px;
    width: 20%;
    background-color: #1d1d1d;
    border-radius: 20px;
    padding: 5px;
    border: none;
}

.header {
    display: flex;
    width: 80%;
    align-items: center;
    margin-bottom: 20px;
    background-color: #e5c200;
    border-radius: 20px;
}

.header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header div {
    margin-left: 5%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #1d1d1d;
}

.header i {
    display: none;
}


.content {
    display: flex;
    width: 100%;
}

.info-box {
    display: flex;
    justify-content: center;
}



@media (max-width: 768px) {
    .group-id {
        width: 80%;
    }

    .messages-box {
        max-width: 100%;
    }

    .messages {
        min-width: 100%;
    }

    .header i {
        display: block;
        font-size: 30px;
        position: absolute;
        border-radius: 50%;
        right: 101%;
        background-color: #e5c200;
    }

    .header {
        position: relative;
    }
    .groups {
        display: none;
    }
}


@media (max-width: 1200px) and (min-width: 767px) {
    .info-box {
        position: absolute;
        width: 100%;
    }

    .group-info-content {
        margin-top: -1%;
        margin-left: 0;
        padding: 0 20%;
        background-color: #1d1d1d;
        height: 80vh;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .content {
        display: flex;
        width: 100%;
    }
    .info-box {
        width: 100%;
    }
}