@tailwind base;
@tailwind components;
@tailwind utilities;  

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
	padding: 10px;
}

input {
	color: #242424;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
}

